body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}
.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    border: 1px solid black;
}

.post-header{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    height: 5vh;
    margin: 10px;

}
.post-username{
    display: flex;
    flex-direction: column;

}

.options{
    margin-left: 70%;
}
.post-username h4{
    margin: 0;
}

.post-username h6{
    margin: 0;
}
.post-icons{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    margin: 10px;
}

.post-img img{
    width: 100%;
}

.post-icons img{
    width: 5%;
}

.post-icons img:nth-child(3){
    padding-right: 80%;
}



.post-header img{
    height: 50px;
}

.post-body{
    margin: 10px;

}

